.swatch-group {
    position: relative;
}

.swatch {
	position: absolute;
    color: #000;
    font-size: 0.8em;
	-webkit-transition: all 0.2s ease;
	-webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-transform: perspective(1200) translate3d(0px, 20px, -200px);

}

.swatch:after, .card:after{
    /* shadow */
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-filter: blur(4px);
}

.swatch:hover {
    -webkit-transform: perspective(0) translateZ(0px);
    z-index: 1;

}

.swatch1 {
	top: 18%;
	left: 55%;
}

.swatch2 {
	top: 20%;
	left: 50%;
}

.color-field {
	width: 7em;
	height: 7em;
	text-align: right;
}

.color-field span {
	display: inline-block;
	color: white;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
	font-size: 0.8em;
	margin-right: 0.8em;
	margin-top: 0.8em;
}

.color1 {
	background-color: rgba(252, 176, 3, 1);
}

.color2 {
	background-color: rgba(248, 44, 72, 1);
}

.color-description {
	width: calc(7em - 2px);
	background-color: white;
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-top: none;
}

.color-description ul {
    font-size: 0.8em;
	list-style-type: none;
	padding: 0.5em;
    margin: 0;
    line-height: 1.7em;

}

.color-description li {

}
.card {
    float: right;
    display: inline-block;
    display: none;
    color: $grey;
    text-align: left;
    min-width: 12em;
background-image: -webkit-linear-gradient(#FFFFFF 0%, #FAFAFA 100%);
background-image: -o-linear-gradient(#FFFFFF 0%, #FAFAFA 100%);
background-image: linear-gradient(#FFFFFF 0%, #FAFAFA 100%);
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 1em;
     -webkit-box-sizing: border-box;
}
