.swatch-group {
  position: relative; }

.swatch {
  position: absolute;
  color: #000;
  font-size: 0.8em;
  -webkit-transition: all 0.2s ease;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  -webkit-transform: perspective(1200) translate3d(0px, 20px, -200px); }

.swatch:after, .card:after {
  /* shadow */
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-filter: blur(4px); }

.swatch:hover {
  -webkit-transform: perspective(0) translateZ(0px);
  z-index: 1; }

.swatch1 {
  top: 18%;
  left: 55%; }

.swatch2 {
  top: 20%;
  left: 50%; }

.color-field {
  width: 7em;
  height: 7em;
  text-align: right; }

.color-field span {
  display: inline-block;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
  margin-right: 0.8em;
  margin-top: 0.8em; }

.color1 {
  background-color: #fcb003; }

.color2 {
  background-color: #f82c48; }

.color-description {
  width: calc(7em - 2px);
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-top: none; }

.color-description ul {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
  line-height: 1.7em; }

.card {
  float: right;
  display: inline-block;
  display: none;
  color: #6f6368;
  text-align: left;
  min-width: 12em;
  background-image: -webkit-linear-gradient(white 0%, #fafafa 100%);
  background-image: -o-linear-gradient(white 0%, #fafafa 100%);
  background-image: linear-gradient(white 0%, #fafafa 100%);
  border: 1px solid #EDEDED;
  border-radius: 7px;
  padding: 1em;
  -webkit-box-sizing: border-box; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em; }

thead tr td {
  font-weight: bold;
  text-align: left;
  font-size: 1em;
  color: #a04c6e;
  verticl-align: top; }

tr td {
  border-bottom: 1px solid #979797;
  padding: 0.5em 0em; }

tbody tr td {
  border-bottom: 1px solid #CBCBCB;
  padding: 0.5em 0em;
  opacity: 0.7; }

td {
  text-align: left; }

td.right {
  text-align: right;
  opacity: 0.5; }

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

.title {
  font-family: "Lato", "Helvetica Neue", "Arial";
  font-size: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3em;
  text-transform: uppercase;
  padding-left: 10px;
  color: #6f637f;
  text-align: center;
  margin-bottom: 0.8em;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

.subtitle {
  font-size: 1.3em;
  font-family: "Lato", "ff-tisa-web-pro";
  margin-top: 0em;
  margin-bottom: 2em;
  text-align: center; }

p {
  color: #6f637f;
  font-size: 1.25rem;
  opacity: 0.8;
  line-height: 1.5em;
  font-family: "Lato", "ff-tisa-web-pro";
  text-align: left; }

h2 {
  font-size: 1.25em; }

h3 {
  font-size: 1.75em;
  color: #6f637f;
  font-family: "Lato", "ff-tisa-web-pro";
  font-weight: normal;
  text-align: left; }

.caption-small {
  font-style: italic;
  font-size: 1em;
  opacity: 0.6; }

a {
  text-decoration: underline;
  color: #f82c48; }

.card-title {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
  font-family: "Lato", "Helvetica Neue", "Arial"; }

.card-caption {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: bold; }

.section-even * {
  color: white; }

body {
  margin: 0 auto;
  font-family: "Lato", "Helvetica Neue", "Arial";
  -webkit-box-sizing: border-box; }

.block {
  display: block; }

.button {
  margin-bottom: 2em;
  border-radius: 5px;
  font-weight: bold;
  padding: 0em 2em;
  line-height: 3em;
  height: 3em;
  display: inline-block;
  color: white;
  text-decoration: none;
  background: #fcb003;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  text-transform: uppercase; }

.wrap {
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
  text-align: center;
  /* Rectangle 1: */ }

@media (max-width: 900px) {
  .wrap {
    width: auto;
    margin: 0em 2em; } }
.funky-header {
  background: #a04c6e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a04c6e 0%, #a04c6e 20%, #eff2be 20%, #eff2be 20%, #eff2be 40%, #fcb003 40%, #fcb003 60%, #6f6368 60%, #6f6368 80%, #f82c48 80%, #f82c48 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a04c6e), color-stop(20%, #a04c6e), color-stop(20%, #eff2be), color-stop(20%, #eff2be), color-stop(40%, #eff2be), color-stop(40%, #fcb003), color-stop(60%, #fcb003), color-stop(60%, #6f6368), color-stop(80%, #6f6368), color-stop(80%, #f82c48), color-stop(99%, #f82c48));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a04c6e 0%, #a04c6e 20%, #eff2be 20%, #eff2be 20%, #eff2be 40%, #fcb003 40%, #fcb003 60%, #6f6368 60%, #6f6368 80%, #f82c48 80%, #f82c48 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a04c6e 0%, #a04c6e 20%, #eff2be 20%, #eff2be 20%, #eff2be 40%, #fcb003 40%, #fcb003 60%, #6f6368 60%, #6f6368 80%, #f82c48 80%, #f82c48 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #a04c6e 0%, #a04c6e 20%, #eff2be 20%, #eff2be 20%, #eff2be 40%, #fcb003 40%, #fcb003 60%, #6f6368 60%, #6f6368 80%, #f82c48 80%, #f82c48 99%);
  /* IE10+ */
  background: linear-gradient(to right, #a04c6e 0%, #a04c6e 20%, #eff2be 20%, #eff2be 20%, #eff2be 40%, #fcb003 40%, #fcb003 60%, #6f6368 60%, #6f6368 80%, #f82c48 80%, #f82c48 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a04c6e', endColorstr='#f82c48',GradientType=1 );
  min-height: 6px;
  width: 100%; }

.section-even {
  background: #6f637f;
  background-image: linear-gradient(-180deg, #6f637f 0%, #594b6b 100%);
  padding: 4rem 0rem;
  color: white; }

.section-even .wrap {
  margin: 0 auto; }

hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1em;
  margin-bottom: 2em; }

.col-1, .col-2 {
  vertical-align: top;
  padding: 0rem 2rem; }

.col-1 {
  width: 40%;
  display: inline-block; }

.col-2 {
  display: inline-block;
  width: 40%; }

ul {
  text-align: left; }

.selection {
  display: inline-block;
  border: 1px solid #D2D2D2;
  line-height: 1em;
  position: relative; }

.handle {
  content: ' ';
  width: 6px;
  height: 6px;
  display: inline-block;
  position: absolute;
  background-image: -webkit-linear-gradient(#fdfdfd 0%, gainsboro 100%);
  background-image: -o-linear-gradient(#fdfdfd 0%, gainsboro 100%);
  background-image: linear-gradient(#fdfdfd 0%, gainsboro 100%);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4), 0px 1px 1px 0px rgba(0, 0, 0, 0.4); }

.hero {
  margin-bottom: 1.5em; }

section {
  margin: 0 auto 6em auto;
  text-align: center;
  width: 40em; }

.full-width {
  width: 100%; }

.intro {
  background-image: url("ps_neutral_@2X.png");
  width: 100%;
  padding: 100px 0; }

.shortcut {
  border: 4px solid #bcb5c6;
  border-radius: 10px;
  display: inline-block;
  width: 2em;
  height: 2em;
  font-size: 2em;
  line-height: 2em;
  color: #bcb5c6;
  margin: 0 0.15em; }
